.speech {font-family: Arial, Helvetica, sans-serif; font-size: 14; color: black;}
.direction {
    font-family:'Times New Roman', Times, serif; 
    font-size: 14; color: black; 
    background-color: bisque
}
.direction:hover{
    color:gold;
    background-color: darksalmon;
}
.name{
    color: red;
}
.marina:hover{
    color: cadetblue;
    border: dotted 3px;
    text-shadow: 3px 3px 5px cyan;
}
.voitski:hover{
    color: chocolate;
    border: dotted 3px;
    text-shadow: 3px 3px 5px rgb(63, 43, 3);
}
.astroff:hover{
    color: deeppink;
    border: dotted 3px;
    text-shadow: 3px 3px 5px rgb(238, 160, 226);
}
.serebrakoff:hover{
    color: blueviolet;
    border: dotted 3px;
    text-shadow: 3px 3px 5px rgb(40, 0, 80);
}
table
{
    border: solid 2px;
}
th
{
    border: solid 2px;
    color:red
}
td
{
    border: solid 2px;
    color:darkslategray
}
  
  ul{
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(84, 82, 86);
  }
  
  ul li {
    float:left;/* line up horizontally */
    color:#ffffff;
    background-color:rgb(84, 82, 86);
  }
  
  ul a {
    display:block;
    padding:8px
  }
  
  /* on hover change the link color*/
  ul a:hover {  
    background-color: #ff6c6c;
    color:rgb(0, 0, 0);
  }
  li a
  {
    color: #ffffff;
    display: block;
    padding: 14px 16px;
  }